<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Создание аккаунта</title>
</head>
<body>
<h2>Создание аккаунта пользователя</h2>
<form th:action="@{/createUser}" th:object="${user}" method="post">
  <table th:border="2">
    <tr>
      <td>Имя:</td>
      <input type="text" th:field="${user.name}"/></td>
    </tr>
    <br>
    <tr>
      <td>Фамилия:</td>
      <td><input type="text" th:field="${user.surname}"/></td>
    </tr>
    <br>
    <tr>
      <td>Возраст:</td>
      <td><input type="number" th:field="${user.age}"/></td>
    </tr>
    <br>
    <tr>
      <td>Телефон:</td>
      <td><input type="text" th:field="${user.phone}"/></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" value="Save"></td>
    </tr>
  </table>
</form>
</body>
</html>